.product-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
  padding: 16px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  background-color: #ffffff;
}
.products {
  height: 120px;
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  background-color: #ffffff;
}

.product-name {
  font-size: 14px;
  font-weight: 600;
  color: #333333;
}

.product-price {
  font-size: 16px;
  font-weight: 500;
  color: #20242a;
}
.stock-error {
  font-size: 12px;
  font-weight: 300;
  color: #d32f2f;
}

.product-brand {
  font-size: 14px;
  color: #666666;
  font-style: italic;
}

.addButton {
  font-size: 14px;
  font-weight: 500;
  color: #333333;
  background-color: #ffffff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  background-color: #333333;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #555555;
}

button:active {
  background-color: #1a1a1a;
}
.counter {
  display: flex;
  flex-direction: row;
  width: 200px;
  justify-content: center;
  font-size: 12px;
  color: #333333;

  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.yukiButton {
  font-size: 12px;
  color: #333333;
  background-color: #ffffff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
